:root {
  --green: hsl(158, 36%, 37%);
  --dark-green: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --gray: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center; /* dikey */
  justify-content: center; /* yatay */
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
main {
  width: 100%;
  margin: 5em auto;
  max-width: 25em;
  color: var(--gray);
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
}
.order {
  margin: 2rem 0;
  padding: 0 2rem;
  height: 26em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
svg {
  width: 18px;
  height: 18px;
}
.img-frame {
  width: 100%;
  height: 25em;
  background-image: url("./images/image-product-mobile.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0.5em 0.5em 0.1em 0.1em;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
  color: var(--white);
  gap: 0.5em;
  font-weight: 600;
  background-color: var(--green);
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
h1 {
  font-size: 2rem;
  line-height: 1;
  font-family: "Fraunces", sans-serif;
  color: var(--black);
  font-weight: 700;
}
.new-price {
  color: var(--green);
  font-size: 2em;
  line-height: 1;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
}
.old-price {
  text-decoration: line-through;
  font-size: 0.8rem;
  font-weight: 500;
}
.prices {
  display: flex;
  gap: 1em;
  align-items: center;
}
.branch {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.3em;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--dark-green);
  cursor: url("./images/Pointer.png") 0 0, pointer;
}
@media (min-width: 80rem) {
  main {
    max-width: 37.5rem;
    height: 28.125rem;
  }
  main > div {
    flex: 0 0 50%;
  }
  .img-frame {
    background-image: url("./images/image-product-desktop.jpg");
    height: 100%;
    border-radius: 0.5em 0.1em 0.1em 0.5em;
  }
}
